body {
    font-family: 'Rockwell';
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rockwell';
    font-weight: lighter;
    font-style: lighter;
    color: #627aa1;
}